:root {
	--text: #9ca3af;
	--text-h: #f3f4f6;
	--bg: #16171d;
	--border: #2e303a;
	--color-primary:#4F8CFF;
	--social-bg: rgba(244, 243, 236, 0.5);
	--shadow:
		rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

	--heading: "Montserrat", sans-serif;
	--content: "Inter", sans-serif;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		
	}

	#social .button-icon {
		filter: invert(1) brightness(2);
	}
}

body {
	margin: 0;
	outline: 0;
	background-color: var(--bg);
	position: relative;
}

* {
	margin: 0;
	outline-offset: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
a,
li,
span {
	color: var(--text);
}

.container {
	width: 80%;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
a,
span {
	font-family: var(--heading);
}

a {
	text-decoration: none;
}

p{
	font-family: var(--content);
	font-weight: 300;
}

.make-blue{
    color: var(--color-primary);
}
