:root {
	--text: #9ca3af;
	--bg: #16171d;
	--border: #2e303a;
	--color-primary:#4F8CFF;
	--shadow:
		rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

	--heading: "Montserrat", sans-serif;
	--content: "Inter", sans-serif;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

@media (prefers-color-scheme: dark) {

	#social .button-icon {
		filter: invert(1) brightness(2);
	}
}

body {
	margin: 0;
	outline: 0;
	background-color: var(--bg);
	position: relative;
}

* {
	margin: 0;
	outline-offset: 0;
	cursor: default;
}

p,
h1,
h2,
h3,
h4,
h5,
a,
li,
span {
	color: var(--text);
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
a,
span {
	font-family: var(--heading);
}

a {
	text-decoration: none;
}

p{
	font-family: var(--content);
	font-weight: 300;
}

.section-title{
	margin: 0px 0px 60px;
}

.section-title > h2{
	font-size: 1.25rem;
	font-family: var(--content);
	color: var(--color-primary);
	position: relative;
    padding-left: 1rem;
}

.section-title h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 3px;
  height: 20px;

  background: var(--color-primary);
  border-radius: 2px;
}

.section-title > p{
	font-size: 2rem;
}

.make-blue{
    color: var(--color-primary);
}

section,
footer
{
	padding: 40px 0px;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;
}